.wrapper {
   display: block;
   width: 100%;
   max-width: 500px;
   padding: 40px;
   margin: 20px;
   box-sizing: border-box;
   border-radius: 5px;
   background-color: #fff;
   box-shadow: 0px 4px 8px -2px rgba(9, 30, 66, 0.25), 0px 0px 0px 1px rgba(9, 30, 66, 0.08);
}

.profile-wrapper {
   max-width: 800px;
   min-height: calc(100vh - 40px);
   display: grid;
   grid-template-rows: max-content auto;
}
h1 {
   margin: 0 0 30px;
   color: #333;
}

form {
   display: grid;
   row-gap: 30px;
   align-content: space-between;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
   display: block;
   width: 100%;
   box-sizing: border-box;
   padding: 12px 5px 8px;
   border: 0;
   border-bottom: solid 2px #ccc;
   color: #333;
   font-family: "Roboto";
   font-size: 16px;
   font-weight: 500;
   transition: ease-in-out 300ms;
}
input:hover {
   border-color: #999;
   transition: ease-in-out 300ms;
}
input:focus {
   outline: none;
   border-color: #333;
   transition: ease-in-out 300ms;
}

input[type="radio"]:hover,
input[type="radio"]:focus {
   border-color: #000;
}
input[type="radio"]:hover ~ label,
input[type="radio"]:focus ~ label {
   color: #396afc;
}

input::placeholder {
   font-weight: 400;
}

label {
   font-size: 16px;
   color: #333;
}

fieldset label {
   text-align: left;
}

button {
   height: 40px;
   border-radius: 5px;
   border: 0;
   color: #fff;
   font-size: 16px;
   font-weight: 700;
   font-family: "Roboto";
   text-transform: uppercase;
   background: #396afc;
   box-shadow: 0px 4px 8px -2px rgba(9, 30, 66, 0.25), 0px 0px 0px 1px rgba(9, 30, 66, 0.08);
   transition: background ease-in-out 300ms;
}

button:focus,
button:hover {
   outline: none;
   background: #1e43bb;
   transition: background ease-in-out 300ms;
   cursor: pointer;
}

button.button-cancel {
   color: #333;
   background: #fff;
   border: 3px solid #396afc;
}
button.button-cancel:focus,
button.button-cancel:hover {
   background: #eaefff;
   border: 3px solid #1e43bb;
}

button.button-delete {
   color: #333;
   background: #fff;
   border: 3px solid #ff6767;
}
button.button-delete:focus,
button.button-delete:hover {
   background: #fff2f2;
   border: 3px solid #ff3636;
}

.login-create-link {
   margin: 30px 0 0;
   color: #333;
}

a {
   color: #396afc;
   text-decoration: underline;
   transition: ease-in-out 300ms;
}

a:hover,
a:focus {
   text-decoration: transparent;
   transition: ease-in-out 300ms;
}

dialog {
   max-width: 400px;
   padding: 40px;
   box-sizing: border-box;
}

dialog::backdrop {
   background: rgba(0, 0, 0, 0.3);
}

dialog h1 {
   font-size: 24px;
}

dialog form {
   display: grid;
}

dialog.two-buttons form {
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}

dialog p {
   margin: 0 0 40px;
}

.profile-item {
   text-align: left;
}

.profile-buttons {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   align-items: end;
}

fieldset {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 5px 20px;
   padding: 20px;
}

@media (max-width: 500px) {
   fieldset {
      grid-template-columns: 1fr 1fr;
   }
}

.color-item {
   display: grid;
   grid-template-columns: auto 1fr;
   gap: 5px;
}

.color-item input {
   margin: 2px 0;
}
